body{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  height: 97.5vh;
}
body > *{
  flex: 1
}
#board{
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0 auto;
}

button{
  min-height:25vmin;
  width: 25vmin;
  font-size: 10rem;
}

header, footer{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}